@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> _userManager

<ul class="navbar-nav align-items-center">

    @if (User.Identity.IsAuthenticated)
    {
        <li class="mr-3">
            Hello, @_userManager.GetUserName(User)!
        </li>
        <li class="nav-item">
            <form asp-controller="Account" asp-action="LogOut">
                <button type="submit">
                    Logout
                </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Register</a>
        </li>
    }
</ul>
