/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.books-list {
    list-style-type: none;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 1rem;
    width: 100%;
    padding: 0;
}

    .books-list > li.book > a > div {
        background: #f5f5f5;
        padding: 1rem 1.5rem;
        border-radius: 0.5rem;
        transition: all 150ms ease-in;
        display: flex;
        flex-wrap: wrap;
        gap: 0.3rem;
    }

    .books-list > li.book a > div > div > div {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
    }

    .books-list > li.book a:hover {
        text-decoration: none;
    }

    .books-list > li.book .book-info {
        font-weight: 600;
        color: #222;
    }

    .books-list .book-label {
        font-size: 10px;
        font-weight: 500;
        color: #888;
        margin-bottom: -0.2rem;
    }

    .books-list > li.book > a:hover > div {
        background: #e9e9e9;
        cursor: pointer;
    }

.book-box-img > img.book-img {
    max-height: 400px;
    background-color: #f5f5f5;
    border-radius: 0.5rem;
}

.sub-title {
    display: block;
    font-weight: 700;
    font-size: 1.25rem;
    margin: 1rem 0 0.3rem 0;
}

.book-box-img {
    flex-basis: 30%;
    display: flex;
    justify-content: center;
}

.book-box-info {
    flex-basis: 70%;
}

    .book-box-info > h1 {
        font-weight: 700;
    }

.form-book-description {
    min-height: 10rem;
    resize: vertical;
}

.book-wrapper {
    flex-wrap: wrap;
    gap: 1rem !important;
}

    .book-wrapper img {
        max-height: 20rem;
        border-radius: 0.5rem;
    }
