/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

*, *::before, *::after {
    margin: 0;
    padding: 0;
}

a {
    color: #f2f2f2 !important;
}

    a.navbar-brand {
        white-space: normal;
        text-align: center;
        word-break: break-all;
        font-size: 1.5rem;
    }

        a.navbar-brand > .text-bold {
            font-weight: 700;
            color: #a4aeeb;
        }
/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

nav {
    position: fixed !important;
    width: 100%;
    border-bottom: 1px solid rgba(200, 200, 200, 0.1);
    z-index: 100;
    background-color: #050812;
}

img {
    display: block;
    max-width: 100%;
}

.navbar-nav {
    gap: 3rem;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #f3f3f3;
    font-family: 'Poppins', sans-serif;
    background-color: #050812;
    color: #f2f2f2;
}

main {
    padding-top: 5rem;
}

p {
    color: #ccc;
}

h2 {
    font-size: clamp(18px, calc(1rem + 3vw), 22px);
    margin: 0;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    background-color: #03040a;
}

.books-list {
    list-style-type: none;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 13rem);
    grid-gap: 1rem;
    width: 100%;
    padding: 0;
}


    .books-list > li.book {
        border-radius: 0.5rem;
        transition: all 150ms ease-in;
    }

        .books-list > li.book > a > div {
            display: flex;
            flex-wrap: wrap;
            gap: 0.3rem;
        }

        .books-list > li.book a > div > div > div {
            display: flex;
            flex-direction: column;
            flex-basis: 100%;
        }

        .books-list > li.book a:hover {
            text-decoration: none;
        }

        .books-list > li.book .book-info {
            font-weight: 600;
            color: #fff;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 13rem;
        }

    .books-list .book-label {
        font-size: 10px;
        font-weight: 500;
        color: #888;
        margin-bottom: -0.2rem;
    }

    .books-list > li.book > a:hover > div {
        cursor: pointer;
    }

.book-box-img > img.book-img {
    max-height: 400px;
    background-color: #f5f5f5;
    border-radius: 0.5rem;
}

.sub-title {
    display: block;
    font-weight: 500;
    font-size: 1.2rem;
    margin: 1rem 0 0.3rem 0;
    line-height: 2.5;
    color: #444;
}

.book-box-img {
    flex-basis: 30%;
    display: flex;
}

.book-box-info {
    flex-basis: 70%;
}

    .book-box-info > h1 {
        font-weight: 700;
    }

.form-book-description {
    min-height: 10rem;
    resize: vertical;
}

.book-wrapper {
    flex-wrap: wrap;
    gap: 1.5rem !important;
}

    .book-wrapper img {
        width: 100%;
        max-height: 19rem;
        border-radius: 0.5rem;
        box-shadow: 0 0.3rem 1rem 0.5rem #03040a;
        object-fit: cover;
    }

h4 {
    line-height: 1.8;
}

.sub-title + a {
    line-height: 2;
    padding: 0.2rem 1rem;
    height: fit-content;
    background-color: #555;
    border: 1px solid #888;
    color: #ddd;
}

/* VALIDATION STYLES */
.input-validation-error {
    box-shadow: 0 0 0 1px #dc143c;
}

.form-login-container {
    max-width: 30%;
    margin-inline: auto;
}

.reviews-container > .reviews-top-bar {
    border-bottom: 2px solid #ddd;
    padding-bottom: 1rem;
    align-items: center;
}

.reviews-list {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 1rem 5rem 0 5rem;
    width: 100%;
}

.review {
    display: flex;
    gap: 1rem;
}

    .review p > span.text-bold {
        font-weight: 500;
        color: #555;
    }

.review-info {
    flex-grow: 1;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0.4rem;
    padding: 1rem 1.5rem;
    width: 100%;
}

.review-header > div {
    flex-grow: 1;
}

.review-header > p {
    font-size: 0.9rem;
    font-weight: 400;
    color: #777;
}

.review-rating {
    line-height: 1.31;
}

    .review-rating > img {
        max-height: 1rem;
    }

.review-avatar-box {
    position: relative;
}

.review:first-child .review-avatar-box::before,
.review:not(:last-child) .review-avatar-box::after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    background-color: #ddd;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.review:first-child .review-avatar-box::before {
    top: -2rem;
}

.review-avatar-box > img {
    border: 3px solid #fff;
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    box-shadow: 0 3px 5px #ddd;
}

.review-date {
    color: #aaa;
    font-size: 0.8rem;
}

.review-content {
    margin-top: 0.8rem;
    background-color: #f8f8f8;
    padding: 0.8rem 1.2rem;
    border-radius: 0.3rem;
}

    .review-content > p {
        font-size: 0.9rem;
        color: #888;
        font-weight: 300;
    }

img.acc-icon {
    filter: invert(1) opacity(0.7);
    max-width: 1.2rem;
    transition: filter 150ms ease-in;
}

    img.acc-icon:hover {
        filter: invert(1) opacity(1);
    }

button.btn-logout {
    height: 100%;
    background-color: transparent;
    border: none;
    color: #eee;
    align-self: center;
}

.banner {
    position: relative;
    height: 40rem;
}

    .banner::after,
    .banner::before {
        content: '';
        display: block;
        position: absolute;
        inset: 0;
    }

    .banner::before {
        background-image: url("../images/banner-the-witcher.jpg");
        background-repeat: no-repeat;
        background-position: top;
        background-size: 100%;
        z-index: -1;
    }

    .banner::after {
        background: rgb(18,17,25);
        background: linear-gradient(180deg, rgba(5, 8, 18,1) 0%, rgba(5, 8, 18,0.5) 52%, rgba(5, 8, 18,1) 98%);
        z-index: -1;
    }

    .banner > img.banner-img {
        max-height: 45rem;
        width: 100%;
        object-fit: cover;
        object-position: top;
    }

    .banner .container {
        height: 100%;
        display: flex;
        align-items: center;
    }

img.icon {
    filter: invert(1) opacity(0.7);
    max-height: 2rem;
}

.banner-info {
    max-width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100%;
    gap: 1rem;
}

h1.banner-title {
    font-weight: 600;
}

p.banner-desc {
    line-height: 1.7;
}

.banner-btns {
    width: 100%;
}

.btn-custom {
    background-color: #1c3dad;
    border: none;
    display: flex;
    color: #fff;
    padding: 0.8rem 2.5rem;
    border-radius: 3rem;
    align-items: center;
    gap: 0.5rem;
    line-height: 1;
    width: fit-content;
    text-transform: uppercase;
    font-weight: 500;
    box-shadow: 0 0.6rem 1rem -0.5rem #1c3dad;
}

.banner-btns a img {
    filter: opacity(1) invert(1);
}

.book .options a {
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.75rem; 
}

.book .options a img {
    max-width: 100%;
}